body {
    background-color: #111;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    background-color: none;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    font-size: 36px;
}

.container {
    max-height: 50%;
    overflow: auto;
    margin-top: 60px;
    position: relative;
    background-color: #111;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    padding-top: 70px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* adjust for overall spacing */
    gap: 20px;
}

.clickable:hover {
    background-color: #555;
}

input,
select,
button,
.clickable {
    background-color: #444;
    border: none;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    appearance: none;
    align-content: center;
    align-items: center;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    gap: 20px;
}

input {
    background-color: #818181;
    color: #000000;
    box-shadow: #000000;
    align-content: center;
    align-items: center;
    text-align: center;
}

input[type=checkbox] {
    background-color: #818181;
    appearance: checkbox;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    align-content: center;
    align-items: center;
    text-align: center;
}

input[type=color],
input[type=color]::-webkit-color-swatch,
input[type=color]::-webkit-color-swatch-wrapper {
    border: 9px;
    border-radius: 50%;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

.setting {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.toggle-button {
    display: none;
}

.toggle-button:checked+.clickable+.toggle-content {
    display: block;
}

.toggle-content {
    display: none;
    border-radius: 12px;
    gap: 10px;
}

/* Slider styles */
input[type=range] {
    /* CSS variable for thumb content */
    --thumb-content: '';
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 10px 0;
    background: transparent;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #38ffb9;
    height: 8px;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #444;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -11px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input[type=range]:focus {
    outline: none;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    background-color: #f4f4f4;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

#fileList a {
    color: #007BFF;
    /* Bootstrap-like link color */
    text-decoration: none;
    /* Remove underline */
}

#fileList a:hover {
    text-decoration: underline;
    /* Underline on hover */
    color: #0056b3;
    /* Darken color on hover */
}